pandas
numpy
datetime
scipy
matplotlib
seaborn
yfinance
cufflinks
mftool
scikit-learn==1.1.2
statsmodels==0.13.2
tensorflow>=2.5.1
seaborn==0.11.2
yahooquery
pandas_datareader
mplfinance
cufflinks==0.17.3
openpyxl
PyPortfolioOpt
ta